/**********************************
 * @Desc: 对话框Dialog
 * @Author:  Jalin
 **********************************/

.gui-dialog {
    &.el-dialog {
        padding: 0;

        // 注释
        .gui-dialog__notes {
            margin-bottom: 24px;

            .el-alert {
                align-items: flex-start;
                background-color: rgba(26, 115, 232, 0.1);
            }
            .el-alert .el-alert__description * {
                font-size: 14px;
                line-height: 22px;
                color: var(--gui-color-text-secondary);
            }
            .el-alert .el-alert__icon.is-big {
                font-size: 18px;
                margin-top: 3px;
                margin-right: 6px;
                color: var(--el-color-primary);
            }
        }

        .el-dialog__header {
            padding: 15px 20px;
            margin: 0;
            border-bottom: 1px solid var(--el-border-color-lighter);

            .el-dialog__title {
                font-size: 17px;
            }
        }

        .el-dialog__body,
        .el-dialog__footer {
            padding: 15px 20px;
        }

        .el-dialog__footer {
            border-top: 1px solid var(--el-border-color-lighter);
        }

        // 表单
        .el-form-item__content {
            .el-select,
            .el-input,
            .el-date-editor {
                width: 300px;
            }

            .el-date-editor.el-date-editor--timerange,
            .el-date-editor.el-date-editor--datetimerange {
                flex-grow: initial;
            }

            // 上传
            .el-upload.is-drag {
                width: 300px;
            }

            .el-upload-dragger {
                padding: 24px 8px;
            }

            .el-upload__tip {
                margin-top: 0;
            }

            .el-upload-list {
                margin: 0;
            }

            // 文本域
            .el-textarea__inner {
                width: 300px;
            }

            // Slider 滑块
            > .el-slider {
                margin: 0 10px 18px;
            }
        }
    }
}
