@use "reset";
@use "transition";

.vvw {
    width: 100%;
}

.vvh {
    height: 100%;
}

body {
    min-width: 1366px;
}

#app {
    height: 100vh;
    overflow: hidden;
    font-weight: 400 !important;
    color: var(--gui-color-text-regular);
}

.html-grey {
    filter: grayscale(100%);
}

.html-weakenss {
    filter: invert(80%);
}

.gui-layout {
    background-color: #eaeef3;

    .gui-layout__body {
        &.is-tabs {
            height: calc(100% - 16px - 49px) !important;
        }
    }
}

// Title Card
.gui-title__card {
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: var(--el-font-size-base);
    font-weight: 700;
    color: var(--el-color-primary);
    padding-left: 12px;
    margin: 0;
    position: relative;

    &::before {
        content: "";
        width: 4px;
        height: 16px;
        background-color: var(--el-color-primary);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
