/* Light Theme */
:root {
    --gui-color-primary: #1A73E8;

    --gui-color-grey-900: #212121;
    --gui-color-grey-800: #424242;
    --gui-color-grey-700: #616161;
    --gui-color-grey-600: #757575;
    --gui-color-grey-500: #9e9e9e;
    --gui-color-grey-400: #bdbdbd;
    --gui-color-grey-300: #e0e0e0;
    --gui-color-grey-200: #ededed;
    --gui-color-grey-100: #f5f5f5;

    --gui-color-text-primary: var(--gui-color-grey-900);       // 场景：主要文本、关键字Title、Input输入信息等
    --gui-color-text-regular: var(--gui-color-grey-800);       // 场景：表格、操作按钮文字，树形文字，表头文字
    --gui-color-text-secondary: var(--gui-color-grey-700);     // 场景：Label
    --gui-color-text-placeholder: var(--gui-color-grey-500);   // 场景：Placeholder、禁用、图标Icon

    --gui-shadow-base: rgba(145, 158, 171, .2) 0px 2px 1px -1px, rgba(145, 158, 171, 0.14) 0px 1px 1px 0px, rgba(145, 158, 171, 0.12) 0px 1px 3px 0px; // 场景：布局容器、卡片列表
    --gui-shadow-dark: 0 0 10px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);   // 场景：对话框
    --gui-shadow-light: 1px -1px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, .12); // 场景：选择器、下拉菜单
    --gui-shadow-hover: rgba(145, 158, 171, 0.24) 0 8px 16px 0;                         // 场景：卡片悬停选中效果
    --gui-shadow-button: 0 3px 6px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);        // 场景：悬浮按钮
}

/* Dark Theme */
[data-theme="dark"] {
    --gui-color-primary: #8ab4f8;

    --gui-color-grey-900: #ffffff;
    --gui-color-grey-800: #e0e0e0;
    --gui-color-grey-700: #bdbdbd;
    --gui-color-grey-600: #9e9e9e;
    --gui-color-grey-500: #757575;
    --gui-color-grey-400: #616161;
    --gui-color-grey-300: #424242;
    --gui-color-grey-200: #303030;
    --gui-color-grey-100: #212121;
}
